<%= form_with model: product do |form| %>
  <div>
    <%= form.label :ProductName %>
    <%= form.text_field :ProductName %>
  </div>

  <div>
    <%= form.label :QuantityPerUnit, style: "display: block" %>
    <%= form.rich_text_area :QuantityPerUnit%>
  </div>

    <div>
    <%= form.label :FeaturedImage, style: "display: block" %>
    <%= form.file_field :FeaturedImage, accept: "image/*" %>
  </div>

  <div>
    <%= form.label :UnitsInStock, style: "display: block"%>
    <%= form.number_field :UnitsInStock%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>