<%# debug @products %>

<%# translation %>
<h1><%= t ".title"%></h1>

<%= link_to "Yeni ürün", new_product_path if authenticated? %>

<%= link_to "Giriş yap", new_session_path unless authenticated? %>


<div id="products">
    <% @products.each do |product| %>
        <div>
            <%= link_to product.ProductName, product_path(product.Id) %>
        </div>
        <div>
            <h3><%= product.ProductName %></h3>
            <p>Fiyat: <%= product.UnitPrice %></p>
            <p>Stok: <%= product.UnitsInStock %></p>
        </div>
    <% end %>
</div>

