<p> <%= link_to "Geri", products_path%> </p>

<section class="product">
  <%= image_tag "products/#{@product.FeaturedImage}" if @product.FeaturedImage %>

    <section class="product-info">
        <% cache @product do%>
            <h1><%= @product.ProductName %> </h1>
            <p><strong>Fiyat:</strong> $<%= @product.UnitPrice %></p>
        <% end %>

        <% if authenticated? %>
            <%= link_to "Düzenle", edit_product_path(@product) %>
            <%= button_to "Sil", @product, method: :delete, data: { turbo_confirm: "Emin misiniz?" } %>
        <% end %>

  </section>
</section>